* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(45deg, #c0460d, #d45b65, #df6292);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculator {
  position: relative;
  display: block;
  background-color: white;
  height: 600px;
  max-width: 400px;
  -webkit-box-shadow: 6px 6px 7px 0px rgba(212, 91, 101, 0.829);
          box-shadow: 6px 6px 7px 0px rgba(212, 91, 101, 0.829);
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.calculator .top {
  height: 20%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.calculator .top #entry {
  height: 40%;
  width: 100%;
  font-size: 1.5em;
  text-align: right;
  padding: 15px 20px;
  color: #463a3a;
  outline: none;
  border: none;
  background-color: 0;
  caret-color: transparent;
}

.calculator .top #result {
  height: 60%;
  width: 100%;
  font-size: 2.5em;
  text-align: right;
  padding: 5px 20px;
}

.calculator .keyboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.calculator .keyboard button {
  font-size: 1.5em;
  font-weight: 500;
  margin: 5px;
  height: 83px;
  width: 83px;
  background-color: #ebdfdf;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color 0.05s linear, -webkit-transform 0.2s linear, -webkit-filter 0.4s linear;
  transition: background-color 0.05s linear, -webkit-transform 0.2s linear, -webkit-filter 0.4s linear;
  transition: transform 0.2s linear, filter 0.4s linear, background-color 0.05s linear;
  transition: transform 0.2s linear, filter 0.4s linear, background-color 0.05s linear, -webkit-transform 0.2s linear, -webkit-filter 0.4s linear;
  outline: none;
}

.calculator .keyboard #cero {
  width: 166px;
  border-radius: 30%;
}

.calculator .keyboard button:nth-child(1),
.calculator .keyboard button:nth-child(2),
.calculator .keyboard button:nth-child(3),
.calculator .keyboard button:nth-child(4n + 4),
.calculator .keyboard button:last-child {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7272e6), to(#fab7fa));
  background-image: linear-gradient(#7272e6, #fab7fa);
}

.calculator .keyboard button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.calculator .keyboard button:active {
  background-color: coral;
}

@media only screen and (max-width: 420px) {
  .calculator {
    width: 100vw;
    height: 150vw;
  }
  .calculator .keyboard button {
    height: 18vw;
    width: 18vw;
    margin: 5px;
  }
}
/*# sourceMappingURL=style.css.map */